[user]
	name = theKnightsOfRohan
	email = shadowsovereign100@gmail.com

[includeIf "gitdir:~/Documents/GitHub/school"]
    path = ~/.dotfiles/files/.gitconfig.d/school.conf

[includeIf "gitdir:~/Documents/GitHub/personal"]
    path = ~/.dotfiles/files/.gitconfig.d/personal.conf

[includeIf "gitdir:~/Documents/GitHub/Spurlock"]
    path = ~/.dotfiles/files/.gitconfig.d/work.conf
